*, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
ul li{
    list-style-type: none;
}


body {
    width: 100vw;
    height: 100vh;
}
p{
    color: rgb(207, 197, 197);
    font-size: 18px;
}

#container {
    min-width:320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: "Hanken Grotesk", sans-serif;
    
}

.attribution { 
    font-size: 12px; text-align: center;
    padding: 1rem;
    background-color: rgb(238, 229, 229);
    font-family: "Hanken Grotesk", sans-serif;
}
    .attribution a { color: hsl(228, 45%, 44%); }

#result{
    background: linear-gradient(hsl(252, 73%, 58%), hsl(241, 81%, 54%));
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1.3rem 2rem;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 10px ;
   
}
.score h1{
    font-size: 3rem;
}

.score p{
    color: rgb(170, 169, 169);
    font-size: 0.8em;
}

#result p.info {
    width: 70%;
    text-align: center;
    padding-bottom: 2rem;
}


.score{
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 50%;
   text-align: center;
   background: linear-gradient(to bottom, hsl(241, 81%, 54%), hsl(252, 72%, 50%));
   width: 120px;
   height: 120px;
}

#summary{
    padding: 1rem 2rem;
    /* min-width: 300px; */
}

#summary h3 {
    padding: 1rem 0 ;
}

ul {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

#summary ul li{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
   
}

#summary ul li:hover{
    transform: scale(1.2);
}

#summary ul li img{
    vertical-align: bottom;
    margin-right: 1rem;
}

.list-item-reaction{
   background-color: rgba(253, 236, 249, 0.959);
}

.list-item-memory{
    background-color: rgb(255, 247, 248);
}

.list-item-verbal{
    background-color: rgb(239, 253, 239);
}
.list-item-visual{
    background-color: rgb(239, 239, 253);
}

#summary ul li span.reaction {
    color: hsl(0, 100%, 67%);
    
}

#summary ul li span.memory{
    color: hsl(39, 100%, 56%);
} 

#summary ul li span.verbal{
    color: hsl(166, 100%, 37%);
}

    #summary ul li span.visual{
         color: hsl(234, 85%, 45%)
    }


#summary button{
    width:100%;
    padding: 1rem;
    border: transparent;
    border-radius: 50px;
    margin-top: 1rem;
    font-size: 20px;
    background-color: hsl(224, 30%, 27%);
    color: #fff
}

#summary button:hover{
    background-color: #5a63e2;
}


/* Laptops and Desktos */

@media only screen and (min-width: 1200px) {
    
  #container {
    width: 60vw;
    margin: 15% auto;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 50px;
    border-radius: 20px;
  }
  #result{
    width: 60%;
    gap: 2em;
    border-radius: 20px;
  }
  #summary{
    width: 50%;
  }
}

/* Medium sized Devices */ 

@media only screen and (min-width: 768px) {
#summary {
    width: 80%;
    margin: auto;
}
}
